<div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden mb-6">
  <div class="p-4">
    <h2 class="text-xl font-semibold text-gray-800">{{ post.title }}</h2>
    <div class="content mt-4">
      <img
        *ngIf="post.image_url; else noImage"
        [src]="getImage(post.image_url)"
        alt="Image for {{ post.title }}"
        class="w-full h-48 object-cover rounded-md mb-4"
      />
      <ng-template #noImage>
        <img src="replace.svg" alt="No image available" class="w-full h-48 object-cover rounded-md mb-4" />
      </ng-template>
      <p class="text-gray-600 text-sm">{{ post.content }}</p>
      <p class="mt-4 text-gray-700 font-bold">{{ post.user.name }}</p>
    </div>
  </div>
</div>
