<div class="container mx-auto px-4 py-8">
  <div class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="flex justify-center pt-4 font-semibold text-lg">Profile</div>

    <div class="text-center mt-4">
      <!-- Name Field -->
      <h2 class="text-xl font-semibold text-gray-800">
        <ng-container *ngIf="!isEditingProfile; else editName">
          {{ currentUser?.name }}
        </ng-container>
        <ng-template #editName>
          <input
            [(ngModel)]="editUser.name"
            type="text"
            class="mt-2 px-4 py-2 border rounded-md text-center"
            placeholder="Enter your name"
          />
        </ng-template>
      </h2>

      <!-- Email Field -->
      <p class="text-gray-600">
        <ng-container *ngIf="!isEditingProfile; else editEmail">
          {{ currentUser?.email }}
        </ng-container>
        <ng-template #editEmail>
          <input
            [(ngModel)]="editUser.email"
            type="email"
            class="mt-2 px-4 py-2 border rounded-md text-center"
            placeholder="Enter your email"
          />
        </ng-template>
      </p>
    </div>

    <!-- Edit and Save Buttons -->
    <div class="mt-6 text-center">
      <button
        *ngIf="!isEditingProfile"
        class="px-4 py-2 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400"
        (click)="startEditUser()"
      >
        Edit Profile
      </button>
      <button
        *ngIf="isEditingProfile"
        class="px-4 py-2 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400"
        (click)="saveUserChanges()"
      >
        Save Changes
      </button>
      <button
        *ngIf="isEditingProfile"
        class="px-4 py-2 bg-gray-300 text-gray-800 rounded-lg shadow-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 ml-2"
        (click)="cancelEditUser()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>


<div>
  @for (post of posts; track post.id) {
    <post-item [post]="post" />
  } @empty {}
</div>
